<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__copy">
        <p class="footer__text">
          © 2022 The Batman. All right reserved.
        </p>
      </div>
      <ul class="footer__menu">
        <li class="footer__menu-item list-reset">
          <a class="footer__menu-link" href="#">Privacy Policy</a>
        </li>
        <li class="footer__menu-item list-reset">
          <a class="footer__menu-link" href="#">Terms of Service</a>
        </li>
        <li class="footer__menu-item list-reset">
          <a class="footer__menu-link" href="#">Legal</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
